<div class="container">
  <div class="row">
    <div class="col-10">
      <h3><strong>登録情報編集</strong></h3>

      <%= form_with(model:@user, url: user_path(@user) ,method: :PATCH) do |f| %>
            <div class="row">
          <div class="col">
            <div class="field">
              <%= f.label :ニックネーム%>
              <%= f.text_field :name, autofocus: true,placeholder: "令和", class:"form-control" %>
            </div>

            <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com",class:"form-control" %>
            </div>


            <div class="actions">
              <td><%= f.submit "編集内容を保存する", class: "btn btn-primary mt-10" %></td>
              <td><%= link_to "退会する", check_path, class: "btn btn-danger", style: "margin: 10px" %></td>
            </div>
        <% end %>
    </div>
  </div>
</div>