<div class="col-md-8 offset-md-1">
  <h2>レビュー一覧</h2>
  <div>
    <%= link_to new_review_path, class: 'btn btn-success' do %>
    新規レビュー投稿画面
    <% end %>
  </div>
  <table class= "table table-hobver table-inverse">
    <thead>
      <tr>
        <th>username</th>
        <th></th>
        <th>Brandname</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
        <% @reviews.each do |review| %>
      <tr>
        <td></td>
         <td>
          <% if review.shampooitem.image.attached? %>
            <%= image_tag review.shampooitem.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
         </td>
       <td><%=link_to review.brandname,review_path(review.id) %></td>
       <td><%= review.description %></td>
       </tr>
        <% end %>
    </tbody>
  </table>
</div>
