<div><%= flash[:notice] %></div>
<div class="col-md-8 offset-md-1">
  <h2>レビュー一覧</h2>
  <div>
    <%= link_to new_review_path, class: 'btn btn-success' do %>
    新規レビュー投稿画面
    <% end %>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card my-3">
        <div class="card-header">
         カテゴリー(髪質)一覧
        </div>
          <div class="card-body">
            <ul style="line-height: 2;">
              <% @categories.each do |category| %>
              <li>
                <%= link_to category.name, category_path(category) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

<div class="col-8">
    <table class= "table table-hobver table-inverse">
      <thead>
        <tr>
          <th>username</th>
          <th></th>
          <th>Brandname</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
          <% @reviews.each do |review| %>
        <tr>
          <td><%= review.user.name %></td>
           <td>
            <% if review.shampooitem.image.attached? %>
              <%= image_tag review.shampooitem.image, size: "200x200" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
           </td>
         <td><%=link_to review.brandname,review_path(review.id) %></td>
         <td><%= review.description %></td>
         <td>
            <%= link_to '編集', edit_review_path(review.id), class: 'btn btn-secondary' %>
         </td>
         <td>
            <% if current_user.favorites.map(&:review_id).include?(review.id)%>
              <%= link_to '♥', review_favorites_path(review), method: :delete, remote: true %>
             <%= review.favorites.count %>いいね
            <% else %>
              <%= link_to '♡', review_favorites_path(review), method: :post, remote: true %>
             <%= review.favorites.count %>いいね
            <% end %>
          </td>
         </tr>
          <% end %>
      </tbody>
    </table>
</div>
  </div>
</div>
