<div class="container">
  <div class="row">
    <h4 class="p-4">レビュー詳細</h4>
  </div>

  <div class="row">
    <div class="col-md-3 mt-3">
      <% if @review.shampooitem.image.attached? %>
        <%= image_tag @review.shampooitem.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>

    <div class="col-md-8">
      <table class="table table-borderless md-auto">
        <tbody>
          <tr>
            <td>ブランド名</td>
            <td><%= @review.brandname %></td>
          </tr>
          <tr>
            <td>使ってみた感想</td>
            <td><%= @review.description %></td>
          </tr>
          <tr>
            <td>髪質について</td>
            <td><%= @review.category_id %></td>
          </tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-center">
    <%= link_to "編集する", edit_review_path(@review), class: "btn btn-success" %>
    <%= link_to "削除する", review_path(@review), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  </div>
</div>