<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h4 class="px-5 py-3">カテゴリー一覧・追加</h4>

      <%= form_with model: @category, url: admin_categories_path, local: true do |f| %>
        <%= f.label "カテゴリー名", class: 'mr-5 my-3' %>
        <%= f.text_field :name, :placeholder => "カテゴリー名", class: 'mr-5' %>
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">
      <table class="table">
        <thead class="table-warning">
          <tr>
            <th>カテゴリー(髪質)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= link_to "編集する", edit_admin_category_path(category.id), class: 'btn btn-success' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>